/*
	MAIN CONTENT
*/
body {
	background-color:rgb(24,24,24);
	margin:0;
}
ul.topnav {
    list-style-type:0none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:rgb(16,16,16);
}
ul.topnav li {
	float:left;
}
ul.topnav li a {
    display:block;
    color:white;
    text-align:center;
	font-family:Arial;
	font-weight:bold;
    padding:14px 16px;
    text-decoration:none;
}
ul.topnav li a:hover:not(.active) {
	background-color:rgb(0,128,255);
}
ul.topnav li a.active {
	background-color:rgb(0,128,255);
}
ul.topnav li.right {
	float:right;
}
@media screen and (max-width: 900px){
    ul.topnav li.right, ul.topnav li {
		float:none;
	}
}
/*
	TAB CONTENT
*/
.tabcontent {
    display: none;
}
.commintitle, .textcontentblock {
	margin-top: 16px;
	margin-left: 16px;
	margin-right: 16px;
	border: 1px solid black;
	background-color:rgb(16,16,16);
}
.comcontentblock {
	margin:16px;
}
.commintitle h1{
	color:rgb(0,128,255);
    text-align:left;
	font-family:Arial;
	font-weight:bold;
	padding:8px 16px;
	margin:8px;
}
.textcontentblock h2{
	color:rgb(255,255,255);
    text-align:left;
	font-family:Arial;
	font-weight:bold;
	margin:8px;
}
.textcontentblock p{
	color:rgb(255,255,255);
    text-align:left;
	font-family:Arial;
	font-weight:bold;
	margin:8px;
}

/*
	MAIN BUTTON STYLE
*/
.mainbuttonstyle {
    background-color:rgb(0,128,255);
    border:none;
    color:rgb(255,255,255);
    padding:16px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
    margin:4px 2px;
    cursor:pointer;
}